{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/article_new.css' %}">
    <title>StackNest</title> 
</head>
<body>

    <nav>
        <p>Let's write your mind</p>
    </nav>

    <h1>New article</h1>
    <div class="wrapper">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form_input">
    
            <div class="ckeditor">
                {{ form.body }}
            </div>
            {{ form.media }}
    
            <label for="photo">Choose a picture</label>
            <input type="file" name="photo" id="photo">
    
            <button type="submit">Save</button>
        </form>
    </div>  

    <footer>
        <div class="back">
            <a href="{% url 'article_list' user.username %}">
                <i class="bi bi-box-arrow-left"></i>
            </a>
            <span>Go profile</span>
        </div>
        <ul>
            <li class="footer_item"><a href="{% url 'about' %}">About</a></li>
            <li class="footer_item"><a href="#">Rules</a></li>
        </ul>
    </footer>
    
</body>
</html>